# Wyze credentials
WYZE_EMAIL=
WYZE_PASSWORD=
WYZE_CLIENT_ID=
WYZE_APP_KEY=

# Amazon S3 configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

# Vercel deployment
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=
VERCEL_TOKEN=
